.wrap{
    display: flex;
}

.pageWrap{
    width: 70%;
    background-color: #A3B9C9;
    margin: auto;
    padding:20px;
}

.wrap a{
    display: block;
    width: 30%;
    height: 50px;
    margin: 3%;
    font-size: large;
    background-color: #A09CB0;
    text-align: center;
    padding-top: 26px;
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap a:hover{
    background-color: #ABDAE1;
}

h1{
    color:#776D5A;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}